<div class="card-wrapper">
    <mat-card>
        <mat-card-title>Register</mat-card-title>
        <mat-card-content>
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

                <p>
                    <mat-form-field>
                        <input type="text" matInput placeholder="Full Name" name="name" formControlName="fullName" autocomplete="name">
                    </mat-form-field>
                </p>

                <p>
                    <mat-form-field>
                        <input type="text" matInput placeholder="Email" formControlName="email" name="email" type="email" autocomplete="email">
                    </mat-form-field>
                </p>

                <p>
                    <mat-form-field>
                        <input type="text" matInput placeholder="Username" name="username" formControlName="username" autocomplete="username">
                    </mat-form-field>
                </p>

                <p>
                    <mat-form-field>
                        <input type="password" matInput placeholder="Password" formControlName="password" autocomplete="current-password">
                    </mat-form-field>
                </p>

                <p>
                    <mat-form-field>
                        <input type="password" matInput placeholder="Confirm Password" formControlName="confirmPassword">
                    </mat-form-field>
                </p>

                <div class="text-danger" *ngIf="registerForm.controls['confirmPassword'].hasError('NoPassswordMatch')">
                    Passwords do not match
                </div>

                <div class="text-danger" *ngIf="registerForm.controls.password.errors?.pattern">
                    Password does not meet requirements
                     <span class="material-icons" 
                     matTooltip="Passwords must be at least 8 characters.
                     Passwords must have at least one non alphanumeric character.
                     Passwords must have at least one digit ('0'-'9').
                     Passwords must have at least one uppercase ('A'-'Z').">
                        contact_support
                        </span>
                </div>

               
                <div class="text-danger"
                    *ngIf="(registerForm.controls.email?.dirty || registerForm.controls.email?.touched)">
                    <div *ngIf="registerForm.controls.email.errors?.required">Email is required</div>
                    <div *ngIf="registerForm.controls.email.errors?.pattern">Please provide a valid email</div>
                </div>
               

                <div class="button">
                    <button mat-raised-button color="primary" [disabled]="!isFormValid()" type="submit" mat-button>Sign up</button>
                </div>

            </form>
        </mat-card-content>
    </mat-card>
</div>