
<mat-sidenav-container  class="all-wrap">

  <mat-sidenav #sidenav >
    <mat-list>
      <mat-list-item>Dashboard</mat-list-item>
      <mat-list-item>Nutrition</mat-list-item>
      <mat-list-item>Workouts</mat-list-item>

    </mat-list>
  </mat-sidenav>
 
  <mat-sidenav-content class="page-wrap ...">
 
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span>
          <mat-icon  *ngIf="isLoggedIn()"
            (click)="sidenav.open()"
          >menu
          </mat-icon>
        </span>
        <button mat-button *ngIf="!isLoggedIn()" [routerLink]="['./register']"><h1>Register</h1></button>
        <button mat-button *ngIf="!isLoggedIn()" [routerLink]="['./login']"> <h1>Login</h1></button>
        <button mat-button *ngIf="isLoggedIn()" (click)="onLogout()"> <h1>Logout</h1></button>
       <span class="welcome-text" *ngIf="authService?.userName">Welcome back, {{authService?.userName}}</span> 
      </mat-toolbar-row>
    </mat-toolbar>
 

 
    <main class="content">
      <router-outlet></router-outlet>
    </main>
 
    <footer>
      <p>FitLife</p>
    </footer>
  </mat-sidenav-content>
 
</mat-sidenav-container>
