@import 'src/variables.sass'
.card-wrapper
  height: 50vh
  display: flex
  justify-content: center
  align-items: center
  width: 50hv

mat-card
    width: 20%

.text-danger
    color: mat-color($app-warn)
