<h2 class="mat-h2">Dashboard</h2>

<div class="container">
  <h1 class="mat-h1"> {{viewDate | date: 'fullDate' }}</h1>
  <button mat-raised-button class="add-button" (click)="registerMeal()" color="primary">Register meal</button>
  <div class="buttons-row">
    <button (click)="previousDay()" class="arrow-left mat-button">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <button (click)="nextDay()" class="arrow-right mat-button">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  </div>
  <div class="content">
    <div class="list-container">
      <mat-selection-list #mealsList (selectionChange)="onGroupsChange(mealsList.selectedOptions.selected)">
        <div mat-subheader class="list-header">Breakfast</div>
        <mat-list-item *ngIf="breakfastMeals.length == 0" disableRipple="true">No meals registered yet!</mat-list-item>
        <mat-list-option *ngFor="let breakfast of breakfastMeals" [value] = "breakfast" >
          <div mat-line>{{breakfast.name}}</div>
          <div mat-line> Proteins: {{breakfast.proteinsGrams}} | Fats: {{breakfast.fatsGrams}} | Carbs:
            {{breakfast.carbsGrams}} </div>
        </mat-list-option>
        <mat-divider></mat-divider>

        <div mat-subheader class="list-header">Lunch</div>
        <mat-list-item *ngIf="lunchMeals.length == 0" disableRipple="true">No meals registered yet!</mat-list-item>
        <mat-list-option *ngFor="let lunch of lunchMeals" [value] = "lunch">
          <div mat-line>{{lunch.name}}</div>
          <div mat-line> Proteins: {{lunch.proteinsGrams}} | Fats: {{lunch.fatsGrams}} | Carbs: {{lunch.carbsGrams}}
          </div>
        </mat-list-option>
        <mat-divider></mat-divider>

        <div mat-subheader class="list-header">Dinner</div>
        <mat-list-item *ngIf="dinnerMeals.length == 0" disableRipple="true">No meals registered yet!</mat-list-item>
        <mat-list-option *ngFor="let dinner of dinnerMeals" [value] = "dinner">
          <div mat-line>{{dinner.name}}</div>
          <div mat-line> Proteins: {{dinner.proteinsGrams}} | Fats: {{dinner.fatsGrams}} | Carbs: {{dinner.carbsGrams}}
          </div>
        </mat-list-option>
        <mat-divider></mat-divider>

        <div mat-subheader class="list-header">Snacks</div>
        <mat-list-item *ngIf="snackMeals.length == 0" disableRipple="true">No meals registered yet!</mat-list-item>
        <mat-list-option *ngFor="let snack of snackMeals" [value]="snack">
          <div mat-line>{{snack.name}}</div>
          <div mat-line> Proteins: {{snack.proteinsGrams}} | Fats: {{snack.fatsGrams}} | Carbs: {{snack.carbsGrams}}
          </div>
        </mat-list-option>
        <mat-divider></mat-divider>
      </mat-selection-list>
    </div>

    <div class="chart-container">
      <ngx-charts-bar-horizontal-stacked [view]="view" [scheme]="colorScheme" [results]="chartData"
        [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel" (select)="onSelect($event)" style="fill:  #f2f2f2;">
      </ngx-charts-bar-horizontal-stacked>

      <mat-expansion-panel #matExpansionPanel (opened)="panelOpenState = true"
      (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
      <mat-panel-title>
      Selected meals
      </mat-panel-title>
      <mat-panel-description>
     {{selectedMeals.length}}
      </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Choose action on selected meals:</p>
      </mat-expansion-panel>
      

    </div>
  </div>
</div>