<h2>Users</h2>
<mat-table class="users-table mat-elevation-z8" [dataSource]="dataSource">

    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Full Name</mat-header-cell>
        <mat-cell class="name-cell" *matCellDef="let user">{{user.fullName}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
        <mat-cell class="email-cell" *matCellDef="let user">{{user.email}}</mat-cell>
    </ng-container>


    <ng-container matColumnDef="options">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell class="options-column" *matCellDef="let user">
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button (click)="details(user.id)" mat-menu-item>
                  <mat-icon>details</mat-icon>
                  <span>Details</span>
                </button>
                <button mat-menu-item [disabled]="!user.locked">
                  <mat-icon>check</mat-icon>
                  <span>Activate</span>
                </button>
                <button [disabled]="user.locked" mat-menu-item>
                  <mat-icon>close</mat-icon>
                  <span>Disactivate</span>
                </button>
              </mat-menu>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

</mat-table>

<mat-paginator [length]="dataSource?.count" [pageSize]="10" [pageSizeOptions]="[10, 15, 25]"></mat-paginator>