/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/material.theme.css"

html, body
    padding: 0
    margin: 0 

ngx-charts-advanced-legend
    font: 500 20px/32px Roboto,"Helvetica Neue",sans-serif